<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Taskit</title>
    <link href={{url_for('static', filename='styles.css')}} rel="stylesheet">
</head>
<body>

<header class="navbar">     
    <a href="https://en.wikipedia.org/wiki/Cat" class="logo">Creators</a>   <!--TODO add a github link-->
    <div class="auth-links">
        <a href="/login" class="sign-in">Sign in</a> | 
        <a href="/login" class="sign-up">Sign up</a>
    </div>
</header>

    <h1>Taskit</h1>
    <p style="text-align:center; color: #538623;">Simple To-Do List generator</p>
<br>

<div style="text-align: center;">
    <button class="button" id="Button">+</button> <!--Button to add new tasks-->
</div>

<div id="cardContainer"></div>  <!--Card is a placeholder for a task-->

<script src={{url_for('static', filename='script_main.js')}}></script>

</body>
</html>
